.nav {
  background-color: #222;
  color: white;
  padding: 1rem 2rem;
  justify-content: space-between;

  ul.list {
    list-style: none;
    display: flex;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        color: #00d1b2; // un celestito
      }
    }
  }
}